.navigation {
  &--link {
    text-decoration: none;
    color: #5e5e5e;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}
